<!-- [class.is-command] le dice a Angular que agregue o quite la clase is-command al elemento HTML (<button>) de manera dinámica, dependiendo del valor que resulte de la expresión entre comillas.
Si la expresión devuelve true, la clase is-command se agregará al elemento.
Si la expresión devuelve false, la clase is-command se eliminará del elemento (o nunca se agregará). -->
  <button
  class="w-full h-16 outline-none focus:outline-none hover:bg-indigo-700 hover:bg-opacity-20 text-white text-opacity-50 text-xl font-light"
  #button
  [class.is-command]="isCommand()"
  [class.is-pressed]="isPressed()"
  (click)="handleClick()"
  >
    <ng-content></ng-content> <!-- se proyecta el contenido desde calculator.component.html y se obtiene en este componente -->
  </button>

